* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
ul {
    width: 200px;
}
#letters {
    display: none;
}
#letters.active {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}